[Desktop Entry]
Version=1.0
Type=Application

Name=Tux Typing+
Comment=Typing challenge featuring Tux
Categories=Game;ActionGame;

Icon=lol.siembra.tuxtypeplus
Exec=godot-runner
Terminal=false
